<br><br><br>
<div class="example-container" style="text-align:center">
  <mat-card class="custom">
      <mat-tab-group>
          <mat-tab label="Login">
            <!-- LOGIN -->

            <br><br>
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="emailLogin" required>
              
              <!-- If email is not according to the valid format -->
              <mat-error *ngIf="emailLogin.invalid">{{getErrorMessage()}}</mat-error>             
            </mat-form-field>
          
          <br><br>
          
              <mat-form-field>
              <input matInput placeholder="Enter your Password" [formControl]="passwordLogin" required type="password">
              <mat-error *ngIf="passwordLogin.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field><br><br>
            <!-- <mat-checkbox>Remember Me</mat-checkbox> -->
          
            <!-- <a mat-flat-button routerLink="." style="color: mediumblue">Forgot password?</a> -->
            
            <br><br>
          
          <!--We can use below syntax for if else-->
          
          <div *ngIf="!checkUser(); then ifblock; else elseblock">
          </div> 

          <!-- This can be substituted to ng-template-->
          <!-- <button mat-raised-button color="primary" [disabled]="flag" (click)="checkUser()">Upload</button>
           -->
          <ng-template #ifblock>

          <!-- INVALID USER -->
          <button mat-raised-button color="primary" (click) = "checkUser()" disabled> LOGIN  </button>
          <mat-error *ngIf="flag"><br>
             Enter valid email and password to login
            </mat-error>
          </ng-template>
          
          
          <ng-template #elseblock>
              <button mat-raised-button color="primary" (click) = "checkUser()" [routerLink]="['homepage']"> LOGIN </button>
          </ng-template>
          </mat-tab>
            <!-- END OF LOGIN -->
            

          <mat-tab label="SignUp">

            <br><br>
            <!-- SIGN UP -->
              <div class="example-container">
                  
                <form #UserForm="ngForm" novalidate>
                  <mat-form-field>
                    <input matInput placeholder="Enter your UserName" [formControl]="userNameSignUp" required>
                    <mat-error *ngIf="userNameSignUp.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Enter your Email" [formControl]="emailSignUp" required>
                      <mat-error *ngIf="emailSignUp.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Enter your Passsword" [formControl]="passwordSignUp" required type="password">
                    <mat-error *ngIf="passwordSignUp.invalid">{{getPasswordErrorMessage()}}</mat-error>
                  </mat-form-field><br><br>
                  <button mat-raised-button color="primary" (click) = "createUser(UserForm)" > SIGNUP </button>
                  </form>
                  
                </div>
              
          </mat-tab>
          <!-- END OF SIGN UP -->
          
      </mat-tab-group>
        <br><br>


  </mat-card>
  
</div>
  
